# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
/.idea/.gitignore
/analysis_options.yaml
/commandline-youtube-downloader.iml
/compile-and-copy.bat
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/pubspec.lock
/.idea/vcs.xml

*.exe
*.mp3
*.ogg
